<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/secured/">Secure</a></li>
    <% if(!isAuthenticated) { %>
    <li><a href="/login/">Login</a></li>
    <% } else { %>
    <li><a href="/logout/">Logout</a></li>
    <% } %>
  </ul>
</nav>
